.item-task {
  width: 96%;
  height: max-content;
  margin: 1rem;
  font-size: 1.2rem;  
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #fff;
  padding: 0.5rem;
}

.item-task > .circle-state {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.item-task > h2 {
  font-size: 1.4rem;
  width: 30%;
  color: #ffff00;
}

.item-task > p {
  color: #fff;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  width: 30%;
}

.item-task > input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  background: transparent;
}