.item-task {
  width: 96%;
  height: max-content;
  margin: 1rem;  
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #fff;
  padding: 0.5rem;
  background-color: #9784ea;
}

.item-task > .circle-state {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #ff0000;
}

.item-task > h2 {
  font-size: 2rem;
  width: 30%;
  color: #ffff00;
}

.item-task > p {
  color: #000;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  width: 30%;
}

.item-task > input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  background: transparent;
}

.checked {
  text-decoration: line-through;  
  font-weight: bold; /* Hace que el texto sea más grueso */
  text-decoration-thickness: 3px;
  text-decoration-color: #048a04;
}

.item-task > .circle-green {
  background-color: #008000;
}
