.container-tasks {
  width: 90vw;
  height: max-content;
  border-radius: 10px;
  background-color: #340180;
  box-shadow: 0 0 10px #fff;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
}