.frm-task {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: sticky;
  top: 8rem; 
  background-color: #340180;       
}

fieldset {
  width: max-content;
  margin: 1rem;
  border: none;
}

.group-title-task, .group-description-task {  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 800;
  font-size: 1.2rem;
}

.group-description-task > input,
.group-title-task > input {
  margin-left: 1rem;
  width: 12rem;
  border-radius: 10px;
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: 800;
}

.group-description-task > input {
  width: 20rem;
}

.btn-new-task {
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  border: solid 2px #fff;
  background-color: #a477ff;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.btn-new-task:hover,
.btn-new-task:active {
  background-color: #fff;
  border: solid 2px #a477ff;
  color: #a477ff;
  transition: 0.5s;
}

